.keyboard {
  margin: 4em auto 2em auto;
}

section.keyboard > button {
  font-family: var(--font-main);
  font-size: 1rem;
  min-width: 40px;
  min-height: 40px;
  margin: 0.2em;
  background-color: var(--color-accent-yellow);
  border: 1px solid var(--color-bkg-grey);
  border-radius: 6px;
  cursor: pointer;
}

section.keyboard > button.correct {
  background-color: #10a95b;
}

section.keyboard > button.wrong {
  background-color: #ec5d49;
}

button:disabled {
  opacity: 0.5; /* Make the button semi-transparent */
  cursor: not-allowed; /* Change the cursor to indicate the button is disabled */
  background-color: #ccc;
}
