section.language-chips {
  margin: 2.25em 5em;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  /* max-width: 350px; */
}

span.chip {
  font-size: 0.75rem;
  border-radius: 0.25em;
  padding: 0.4em 0.6em;
  position: relative; /* Establish positioning context */
}

/* Dimmed overlay with skull on "lost" languages */
span.chip.lost::before {
  content: '💀';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
