.status-container {
  background-color: var(--color-accent-green);
  /* max-width: 350px; */
  margin: 1.25em 3.5em;
  padding: 1.25em;

  border-radius: 4px;
  /* border: 1px dashed #323232; */
}

h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin: 0;
  font-size: 1rem;
}
