.status-container {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  margin: 1.25em 3.5em;
  padding: 1.25em;
  border-radius: 4px;
}

.status-container.won {
  background-color: var(--color-accent-green);
}

.status-container.lost {
  background-color: var(--color-accent-red);
}

.status-container.farewell {
  background-color: var(--color-accent-purple);
  border: 1px dashed #323232;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin: 0;
  font-size: 1rem;
}

section.game-status > p.farewell-message {
  font-style: italic;
  font-weight: 400;
}
